html,
body {
  font: 14px sans-serif;
  height: 100%;
}
p {
  margin-top: 30px;
}
body {
  background: -webkit-repeating-linear-gradient(45deg, #f9f9f9, #f9f9f9 10px, #ddffdd 10px, #ccccff 20px);
  background: repeating-linear-gradient(45deg, #f9f9f9, #f9f9f9 10px, #ddffdd 10px, #ccccff 20px);
}
.rating-clip {
  display: inline-block;
  font-size: 16px;
  white-space: nowrap;
}
.rating-clip__star {
  color: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 0 1px;
  margin-left: -0.27em;
  -webkit-background-clip: text;
  background-clip: text;
}
.rating-clip__star:before {
  content: '★';
}
.rating-clip__star {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff033), to(#ff3300));
  background-image: -webkit-linear-gradient(top, #fff033, #ff3300);
  background-image: -moz-linear-gradient(top, #fff033, #ff3300);
  background-image: -o-linear-gradient(top, #fff033, #ff3300);
  background-image: linear-gradient(to bottom, #fff033, #ff3300);
}
.rating-clip_0 .rating-clip__star,
.rating-clip_1 .rating-clip__star ~ .rating-clip__star,
.rating-clip_2 :nth-child(2) ~ .rating-clip__star,
.rating-clip_3 :nth-child(3) ~ .rating-clip__star,
.rating-clip_4 :nth-child(4) ~ .rating-clip__star {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#555555));
  background-image: -webkit-linear-gradient(top, #cccccc, #555555);
  background-image: -moz-linear-gradient(top, #cccccc, #555555);
  background-image: -o-linear-gradient(top, #cccccc, #555555);
  background-image: linear-gradient(to bottom, #cccccc, #555555);
}
.rating-clip:hover .rating-clip__star {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff033), to(#ff3300));
  background-image: -webkit-linear-gradient(top, #fff033, #ff3300);
  background-image: -moz-linear-gradient(top, #fff033, #ff3300);
  background-image: -o-linear-gradient(top, #fff033, #ff3300);
  background-image: linear-gradient(to bottom, #fff033, #ff3300);
}
.rating-clip .rating-clip__star:hover ~ .rating-clip__star {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#555555));
  background-image: -webkit-linear-gradient(top, #cccccc, #555555);
  background-image: -moz-linear-gradient(top, #cccccc, #555555);
  background-image: -o-linear-gradient(top, #cccccc, #555555);
  background-image: linear-gradient(to bottom, #cccccc, #555555);
}
.rating-clip_big {
  font-size: 36px;
}
.rating {
  display: inline-block;
}
.rating__star {
  background: url(../images/sprite.png) -2px 0 no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  margin-left: -0.25em;
  padding: 0 1px;
  width: 16px;
}
.rating .rating__star {
  background-position: -2px 0;
}
.rating.rating_0 .rating__star,
.rating.rating_1 .rating__star ~ .rating__star,
.rating.rating_2 :nth-child(2) ~ .rating__star,
.rating.rating_3 :nth-child(3) ~ .rating__star,
.rating.rating_4 :nth-child(4) ~ .rating__star {
  background-position: -20px 0;
}
.rating:hover .rating__star,
.rating.rating_0:hover .rating__star,
.rating.rating_1:hover .rating__star,
.rating.rating_2:hover .rating__star,
.rating.rating_3:hover .rating__star,
.rating.rating_4:hover .rating__star {
  background-position: -2px 0;
}
.rating .rating__star:hover ~ .rating__star {
  background-position: -20px 0;
}
.rating_red .rating__star {
  background-position: -38px 0;
}
.rating_red.rating_0 .rating__star,
.rating_red.rating_1 .rating__star ~ .rating__star,
.rating_red.rating_2 :nth-child(2) ~ .rating__star,
.rating_red.rating_3 :nth-child(3) ~ .rating__star,
.rating_red.rating_4 :nth-child(4) ~ .rating__star {
  background-position: -20px 0;
}
.rating_red:hover .rating__star,
.rating_red.rating_0:hover .rating__star,
.rating_red.rating_1:hover .rating__star,
.rating_red.rating_2:hover .rating__star,
.rating_red.rating_3:hover .rating__star,
.rating_red.rating_4:hover .rating__star {
  background-position: -38px 0;
}
.rating_red .rating__star:hover ~ .rating__star {
  background-position: -20px 0;
}
